@use "../base/colors-extended";

.liveloudnesscontainer {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
}
.windowheader {
  width: 100%;
  text-align: center;
  grid-column: 1 / span 2;
  padding: 2px 16px 8px;
  font-size: 14px;
  color: #f2f2f3;
  border-radius: 8px 8px 0 0;
  background-color: #3a3d5a;
}
.chartContainer {
  position: relative;
  overflow: hidden;
  background-color: #23253a;
  border-radius: 0px 8px 0 0;
  grid-row: 2;
  grid-column: 1;
}
svg.chart {
  margin: 0 12px 40px 64px;
  overflow: visible;
  position: relative;
  display: flex;
  flex-direction: column;
}
svg.histogram {
  width: 100%;
  padding: 0 16px;
}

.controls {
  display: flex;
  justify-content: space-between;
  padding: 0 16px 16px;
  background: #23253a;
  border-radius: 0 0 8px 8px;
  grid-row: 3;

  grid-column: 1;
}
button {
  height: 32px;
  width: 32px;
  margin-left: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 4px;
  background: #e1e1e4;
  color: white;
  cursor: pointer;
}
button:hover {
  background: #7f819e;
}
button.disabled {
  background: #2fb5d0;
}
button.disabled .buttonfill {
  fill: #f2f2f3;
}

.tools__button {
  display: flex;
  align-items: center;
}
.tooltip {
  position: absolute;
  background: #161726d8;

  top: 16px;
  right: 16px;
  color: white;
  padding: 5px 15px;
  border-radius: 5px;
  font-size: 12px;
  pointer-events: none;
  opacity: 1;

  z-index: 100;
  transition: opacity 0.2s ease-in-out;
}
.x-axis path.domain {
  stroke: none !important;
  display: none !important;
  d: none !important;
}

.draggable-rect {
  stroke: white;
  stroke-width: 1;
}
.draggable-rect.disabled {
  pointer-events: none;
  opacity: 0;
}

.custom-select-container {
  display: flex;
  flex-direction: column;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  color: #ccc;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 8px;
}

.custom-select-wrapper {
  position: relative;
  width: 120px;
}

.custom-select {
  appearance: none; /* Supprime le style natif */
  background: #1c1e30;
  border: none;
  color: #ffffff;
  font-size: 14px;
  padding: 8px 12px;
  width: 100%;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  transition: all 0.1s ease-in-out;
}

/* Ajout d'une icône de dropdown (flèche vers le bas) */
.custom-select-wrapper::after {
  content: "▼";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 12px;
  color: #afafaf;
  pointer-events: none;
}

/* Effet au survol */
.custom-select:hover {
  border-color: #05c17f;
  box-shadow: 0 0 5px #05c17f;
}

/* Effet au focus */
.custom-select:focus {
  border-color: #05c17f;
  box-shadow: 0 0 5px #05c17f;
}

/* Style des options */
.custom-select option {
  background: #1c1e30;
  color: #fff;
  padding: 5px;
  font-size: 14px;
}

.mastercontainer {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background: #161726d8;
  border-radius: 0 8px 8px 0;
  grid-row: 2 / span 2;
  grid-column: 2;
}

svg.level-meter {
  /* background: #1c1e30; */
  border-radius: 4px;
  padding: 8px 0;
  overflow-x: visible;
}

.lufs-bar {
  opacity: 0.7; /* Légère transparence pour voir RMS au-dessus */
}

.loudness-metrics {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-size: 14px;
  text-align: left;
}

.loudness-metrics li {
  text-transform: uppercase;
  text-align: justify;
  align-items: center;
  width: 100%;
  font-size: 12px;
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
}
.loudness-metrics span {
  background-color: #23253a;
  color: white;

  text-align: center;
  width: 100%;
  border-radius: 4px;
  margin-bottom: 8px;
  padding: 6px 12px;
}
